{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>REgistration</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/sample.css' %}">
</head>
<body>
	<h2> registration</h2>
	<form>
		<label> user name:</label>
        <input type ="text" name=""><br/>
        <label> password:</label>
        <input type="pasword" name=""><br/>
        <label>email:</label>
        <input type="email" name=""><br/>
        <button type="submit" >Subscribe</button>    
        <form/>    
</body>
</html>